html {
    height: 100%;
    margin: 0;
    font-family: 'Dongle', sans-serif;
}
  
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to top, #A31D92, #DC8F3F);
    height: 100%;
    margin: 0;
}
header{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

header h1{
    background-color: white;
    text-align: center;
    border-radius: 10px;
    padding: 7px;
    box-shadow: 2px 3px 2px black;
    font-size: 3rem;

}

.container {
  position: relative;
  border-radius: 50%; 
  box-shadow: 2px 3px 2px black; 
  width: 250px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;

}

.container:hover .overlay {
    opacity: 1;
  }

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
  font-size: 2rem;
}
main{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    /* align-items: center;
    height: 100vh; */
    margin: 0;
}


.redesocial:hover .overlay {
    opacity: 1;
  }
.redesocial{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 300px;
    max-height: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 3px 2px black;
    margin: 5px;

}
.redesocial .overlay{
    border-radius: 10px;
}

.redesocial .icon{
    width: 50px;
}
.redesocial h1{
    margin: 0;
    font-size: 2rem;
}
.redesocial .text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

